.row
  .col-sm-12
    .header
      = link_to 'Edit', edit_user_registration_path, class: 'btn btn-warning pull-right'
      %h1 User's profile
.row
  .col-md-3
    = render 'users/partials/info'
    = render 'users/partials/activity'
  .col-md-6
    = render 'users/partials/products'
  .col-md-3
    = render 'users/partials/reviews'


