.panel.panel-primary
  .panel-heading
    .panel-title
      Your products
  .panel-body
    %ul.list-group
    - if current_user.products.present?
      - current_user.products.each do |product|
        %li.list-group-item
          .buttons.pull-right
            = link_to 'Edit', edit_category_product_path(product.category_id, product), class: 'btn btn-warning btn-xs'
            = link_to 'Destroy',
              category_product_path(product.category_id, product),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: 'btn btn-danger btn-xs'
          %p
            %strong
            = link_to product.title, category_product_path(product.category, product)
          %p
            Category:
            = product.category.name
          %p
            Description:
            = truncate(product.description, :length => 50)
          %p
            Created at:
            = product.created_at.strftime('%H:%m %d-%m-%Y')
          %p
            Reviews:
            %span.glyphicon.glyphicon-pencil
            = product.reviews.count
          %p
            Average Rating:
            %span.glyphicon.glyphicon-star
            = product.average_rating
        %hr
    - else
      %p You have no products yet. Go to #{ link_to 'categories', categories_path} and add something!
