= link_to 'Back to categories', categories_path, class: 'btn btn-primary'

.header
  %h2
    Category:
    = category.name
  %p
    There are #{pluralize(category.products.count, 'product')} in this category.
    #{link_to 'See them now!', category_products_path(category)}

%p
  - if user_signed_in?
    .product-form
      %h3 Add new product to this category
      = render 'products/form'


