= link_to 'Back to categories list', categories_path, :class => "btn btn-primary"
%h1
  Listing products in
  = category.name

- category.products.each do |product|
  .row.well
    .col-sm-12
      %p.product-price.pull-right.lead
        %span.glyphicon.glyphicon-usd{aria: {hidden: true}}
        = product.price
      %h3.product-title
        = link_to product.title, category_product_path(category.id, product.id)
      - if current_user == product.user
        .buttons
          = link_to 'Edit', edit_category_product_path(product.category_id, product), class: 'btn btn-warning btn-xs'
          = link_to 'Destroy',
              category_product_path(product.category_id, product),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: 'btn btn-danger btn-xs'
      %p.product-desc.lead
        = product.description
      %p.product-rating
        Average rating:
        %span.glyphicon.glyphicon-star
        = product.average_rating
      .asd
        .buttons.pull-right
          = link_to 'Show', category_product_path(category.id, product.id),
            :class => "btn btn-primary btn-lg pull-right"
        %p.product-reviews
          Reviews:
          %span.glyphicon.glyphicon-pencil
          = product.product_reviews_count
        %p.product-author
          Author:
          %span.glyphicon.glyphicon-user
          = product.user.firstname + ' ' + product.user.lastname


