= link_to 'Back to categories list', categories_path, :class => "btn btn-primary"
%h1
  Listing products in
  = category.name

- category.products.each do |product|
  .row.well
    .col-sm-12
      %p.product-price.pull-right.lead
        %span.glyphicon.glyphicon-usd{aria: {hidden: true}}
        = product.price
      %h3.product-title
        = link_to product.title, category_product_path(category.id, product.id)
      %p.product-desc.lead
        = product.description
      %p.product-rating
        Average rating:
        = product.average_rating
      %p.product-reviews
        Reviews:
        = product.product_reviews_count
      = link_to 'Show', category_product_path(category.id, product.id), :class => "btn btn-primary btn-lg pull-right"
      - if current_user == product.user
        = link_to 'Edit', edit_category_product_path(product.category, product)
        = link_to 'Destroy', category_product_path(product.category, product), method: :delete, data: { confirm: 'Are you sure?' }
