= link_to 'Back', :back, :class => "btn btn-primary"

.row.product.thumbnail
  .col-sm-12
    .product-header
      %p.product-price.pull-right.lead
        %span.glyphicon.glyphicon-usd{aria: {hidden: true}}
        = product.price
      %h3.product-title
        = product.title
        - if current_user == product.user
          = link_to 'Edit', edit_category_product_path(category.id, product.id),
            class: 'btn btn-warning btn-xs'
          = link_to 'Destroy',
          category_product_path(product.category, product),
          method: :delete,
          data: { confirm: 'Are you sure?' },
          class: 'btn btn-danger btn-xs'
    %p
      %strong Category:
      = product.category.name
    %p.product-desc
      = product.description
    %p
      %strong Author:
      = product.user.firstname + ' ' + product.user.lastname
    .ratings
      %p.product-reviews.pull-right
        %strong Reviews:
        %span.glyphicon.glyphicon-pencil
        = product.product_reviews_count
      %p.product-rating
        %strong Average rating:
        %span.glyphicon.glyphicon-star
        = product.average_rating



%h3 Reviews
.well.reviews
  = render reviews
  - if user_signed_in?
    %h4 Your review
    = render 'reviews/form'

